<md-content flex layout-padding>
  <div layout="column">
    <div flex>
      <md-icon style="color: red;"
               class="zmdi zmdi-{{::issueManager.issue.status.id | issueStatusIcon}}">
      </md-icon> {{::issueManager.issue.tracker.name}} #{{::issueManager.issue.id}}
      <h2>
        {{::issueManager.issue.subject}}
        <md-button style="float: right;"
                   ui-sref="issue({id: issueManager.issue.id})"
                   class="md-raised md-primary"
                   type="button">
          back
        </md-button>
      </h2>
      Author {{::issueManager.issue.author.name}}<br>
      <strong>Description</strong>
      <p ng-bind-html="::issueManager.issue.description"></p>
      <br>
      <strong>Details</strong>
      <table>
        <tr>
          <td>Project</td>
          <td>{{::issueManager.issue.project.name}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{::issueManager.issue.status.name}}</td>
        </tr>
        <tr>
          <td>Priority</td>
          <td>{{::issueManager.issue.priority.name}}</td>
        </tr>
        <tr>
          <td>Assignee</td>
          <td>{{::issueManager.issue.assigned_to.name}}</td>
        </tr>
        <tr>
          <td>Updated</td>
          <td>{{::issueManager.issue.updated_on}}</td>
        </tr>
        <tr>
          <td>Estimated time</td>
          <td>{{::issueManager.issue.estimated_hours}}</td>
        </tr>
        <tr>
          <td>Spent time</td>
          <td>{{::issueManager.issue.spent_hours}}</td>
        </tr>
        <tr>
          <td>Done</td>
          <td>{{::issueManager.issue.done_ratio}}%</td>
        </tr>
      </table>

    </div>

  </div>
</md-content>
