// variables
@color-redmine-blue: #507AAA;
@color-white: #fff;
@color-immediate: #E84245;
@color-urgent: #AD636D;
@color-high: #8097F1;
@color-normal: #66C4BE;
@color-low: #7AD8AA;

.issues {

  md-list,
  md-list-item,
  md-list-item > button {
    padding: 0;
  }
}

.colored-item {

  md-icon {
    color: #fff;
  }

  //immediate
  &-\-priority-7 {
    background: @color-immediate;

    .indicator {
      background: darken(@color-immediate, 20%);
    }
  }

  //urgent
  &-\-priority-6 {
    background: @color-urgent;

    .indicator {
      background: darken(@color-urgent, 20%);
    }
  }

  //high
  &-\-priority-5 {
    background: @color-high;

    .indicator {
      background: darken(@color-high, 20%);
    }
  }

  //normal
  &-\-priority-4 {
    background: @color-normal;

    .indicator {
      background: darken(@color-normal, 20%);
    }
  }

  //low
  &-\-priority-3 {
    background: @color-low;

    .indicator {
      background: darken(@color-low, 20%);
    }
  }
}
